@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0 50px;
}

.container__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    z-index: 10;
}

.container__text h1{
    font-family: "Bellota Text", sans-serif;
}

.container__text button{
    width: fit-content; 
    padding: 20px 30px;
    background-color: #FF601A;
    border-radius: 4px;
    border-style: none;
    color: white;
    border-color: none;
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .container__image{
        display: none;
    }    


    .container__text{
        gap: 30px 0;
        font-size: 15px;
    }
}